.details-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 10px;
    margin-right: 5px;
}

.series-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.review-container {
    margin-left: 5px;
    text-align: center;
    color: black;
    background-color: rgb(179, 243, 222);
    border-radius: 25px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}